*{
    font-family: courier new;
    margin: 0;
}

body{
    margin:0;
    background-color: #45B39D; 
}

.head{
    background-color: #45B39D;
    max-width: 100%;
    
}
h1{
    padding: 10px;
}

.wrapper{
    position: sticky;
    top: 0;
}

.About{
    background-color: #333;
    margin: 20px;
    padding: 60px;
}

h2{
    color:white;
    text-align: center; 
    font-size: 50px;
    margin: 30px 0;
    text-decoration: underline;
    font-weight: bold;
}

p.about{
    color:white;
    background-color: #808B96; 
    
    margin: 10px 100px;
    text-align: center;
    justify-content: space-between;
    font-size: 25px;
}

.LC{
    background-color: #FFFFFF;
    padding:10px 200px ;

}

.lc{
    width: 100%;
    margin: 0 auto;
    background-color: #333;
    
}

.info{
    background-color: #333;
    color: white;
    margin: 20px;
    padding: 20px;
    font-size: 25px;
}
.am{
    font-size: 40px;
    text-align: center;
    margin: 20px;
    text-decoration-line: underline;
}
.blah{
    text-align: left;
    float: left;
}

.clearfix{
    overflow: auto;
    clear: right;
}
.gaurav{
    float: right;
    width: 150px;
}


/* menu base styles */

nav{
    background: #333;
    
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav a{
    text-decoration: none;
    text-align: center;
    color:#fff;
    display: block;
    padding: 10px;
    font-size: 30px;
}

nav a:hover{
    background-color: #555;
}



/* flex styles */

@media screen and (min-width: 768px){
    nav ul{
        display: flex;
        justify-content: space-around;
    }
    nav li {
        flex:1 1 0;
    }
    nav {
        display: flex;
        justify-content: space-between;
    }
}